// 320 - 768px
// 769 - 1024px
// 1025 - 1200px
// ----------------------------------------------------------------------------------------- Global
@use "../../../assets/styles/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@mixin flex-centered {
  align-items: center;
  display: flex;
  justify-content: center;
}

// breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

// color palette
$light: #fffcf2;
$semilight: #ccc5b9;
$semidark: #403d39;
$dark: #252422;
$comp: #eb5e28;

// typo
$base-font-size: 18px;
$font-family: "Poppins", sans-serif; // TODO: get from base style through import statement.
$letter-spacing: 2px;

:root {
  --black: #333;
  --black2: #333;
  --white: #fff;
  --white2: #fff;
  --alternative: #2196f3;
  font-family: $font-family;
  font-size: $base-font-size;
  box-sizing: border-box;
}

// -------------------------------------------------------------------- Globals
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.container {
  color: $semidark;
  position: relative;
  width: 100%;
}

.main {
  width: 100%;
}

.btn {
  @include flex-centered();
  background-color: $semilight;
  border-radius: 8px;
  height: 40px;
  overflow: hidden;

  &__icon {
    @include flex-centered();
    background-color: $comp;
    font-size: 1rem;
    padding: 0 10px;
    height: 100%;
  }

  &__text {
    @include flex-centered();
    font-size: 0.8rem;
    height: 100%;
    padding: 0 15px;
    color: $semidark;
  }
}

// TODO: Pendiente
.navbar {
  position: absolute;
  visibility: hidden;
  width: 100%;
}

.topbar {
  align-items: center;
  background: #fff;
  border-bottom: rgba($color: $semidark, $alpha: 0.1) solid 0.2px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  left: 0;
  padding: 0 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  &__logo {
    font-weight: 700;
    font-size: 1.2rem;
  }

  &__toggle {
    font-size: 1.2rem;
    cursor: pointer;
  }
}

.section {
  min-height: 100vh;
  padding-top: 6rem;
  padding: {
    left: 16px;
    right: 16px;
  }
  width: 100%;

  &__header {
    margin-bottom: 3rem;
    text-align: center;

    &__title {
      font-size: 1.2rem;
      letter-spacing: $letter-spacing;
      margin-bottom: 2rem;
      position: relative;
      text-transform: uppercase;

      &::before {
        content: "";
        background: $dark;
        bottom: -0.5rem;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        position: absolute;
        width: 4rem;
      }
    }
  }

  &__content {
    margin-top: 50px;
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 550px;
  padding: 0 20px;
  position: relative;
  width: 100%;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5rem;
    text-align: center;
  }

  &__figure {
    border-radius: 50%;
    display: block;
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 250px;

    &__img {
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__title {
    font-size: 1.3rem;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
  }

  &__description {
    color: rgba($color: $semidark, $alpha: 0.7);
  }

  &__btn {
    background-color: $semidark;
    color: $light;
    display: block;
    padding: 10px 30px;

    &:hover {
      background-color: $semilight;
      color: $semidark;
    }
  }

  &__social {
    bottom: 30px;
    display: flex;
    // justify-content: space-around;
    position: absolute;

    &__item {
      margin: 5px;
      a {
        align-items: center;
        background-color: rgba($color: $semilight, $alpha: 0.4);
        display: flex;
        height: 40px;
        justify-content: center;
        width: 40px;

        &:hover {
          background-color: $comp;
          color: $dark;
        }
      }
    }
  }
}

.about {
  &__content {
    &__figure {
      margin-top: 30px;
    }
  }
}

.services {
  &__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;

    &__item {
      align-items: center;
      border: 1px solid rgba($color: $semilight, $alpha: 0.4);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px 20px;
      text-align: center;

      img {
        width: 64px;
      }

      h2 {
        font-size: 0.9rem;
        letter-spacing: $letter-spacing;
        margin: {
          top: 30px;
          bottom: 20px;
        }
        text-transform: uppercase;
      }
    }
  }
}

.projects {
  &__content {
    color: $light;

    &__item {
      height: 300px;
      overflow: hidden;
      margin-bottom: 30px;
      position: relative;
      width: 100%;

      &__img {
        height: 100%;
        position: relative;
        transform: translateY(0);
        width: 100%;
        transition: 0.5s ease-in-out;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      &__legend {
        align-items: center;
        background-color: $semidark;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        left: 0;
        padding: 0px 2rem;
        position: absolute;
        text-align: center;
        transform: translateY(100%);
        transition: 0.5s ease-in-out;
        top: 0;
        width: 100%;

        h3 {
          font-size: 1rem;
          letter-spacing: $letter-spacing;
          text-transform: uppercase;
        }

        p {
          line-height: 1.1rem;
          font-size: 0.8rem;
          margin-top: 1rem;
        }
      }

      &:hover &__img {
        transform: translateY(-100%);
      }

      &:hover &__legend {
        transform: translateY(0);
      }
    }
  }
}

.testimonials {
  &__content {
    &__item {
      border: 1px solid rgba($color: $semidark, $alpha: 0.1);
      margin-bottom: 1rem;
      padding: 40px 18px;

      &__fig {
        @include flex-centered();
        flex-direction: column;
        &__img {
          margin-bottom: 20px;
        }
      }

      &__txt {
        font-size: 0.9rem;
        font-style: italic;
        color: rgba($color: $semidark, $alpha: 0.7);
      }

      &__author {
        border-right: 3px solid $comp;
        font-size: 0.9rem;
        font-weight: 600;
        letter-spacing: $letter-spacing;
        margin-top: 1rem;
        padding-right: 1rem;
        text-align: right;
        text-transform: uppercase;

        &__title {
          color: $semilight;
          font-size: 0.7rem;
          font-weight: 400;
          letter-spacing: normal;
          text-transform: none;
        }
      }
    }
  }
}

.contact-form {
  &__content {
    &__row {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(1, 1fr);
      margin-top: 20px;

      input {
        background: #fff;
        border: 1px solid rgba($color: $semidark, $alpha: 0.2);
        color: $semidark;
        outline: none;
        padding: 10px;
        width: 100%;
      }

      &--2 {
        margin-top: 20px;
        @include flex-centered();

        textarea {
          background: #fff;
          border: 1px solid rgba($color: $semidark, $alpha: 0.2);
          color: $semidark;
          outline: none;
          padding: 10px;
          width: 100%;
          resize: none;
          height: 200px;
        }

        input[type="submit"] {
          background: $dark;
          border: none;
          color: $light;
          cursor: pointer;
          display: inline-block;
          font-size: 1rem;
          font-weight: 500;
          letter-spacing: $letter-spacing;
          max-width: 150px;
          padding: 12px 30px;
          text-transform: uppercase;
        }
      }
    }
  }
}

.copyright {
  color: rgba($color: $dark, $alpha: 0.5);
  margin-top: 1rem;
  padding: 30px;
  text-align: center;
}
