/* -------- INFO -------- */
/* Used in this project:

    - Mobile First
    - BEM
    - CSS Variables
    - Styles for print

*/



/* -------- BASE -------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&family=Raleway:wght@300;400&display=swap');

* {
    /* border: 1px dashed fuchsia; TODO: Remove this line */
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --titles-color: #211915;
    --subtitles-color: #211B17;
    --date-color: #5C5C60;
    --dot-color: #5C5C60;
    --lateral-line-color: #8B8C92;
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Raleway", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* -------- HELPERS -------- */

.list-dot li {
    list-style-type: "・";
}

.list-dot--in li {
    list-style-type: "・";
    list-style-position: inside;
}

.list-dash li {
    list-style-type: "- ";
    list-style-position: outside;
}


/* -------- TODO: NAMELESS -------- */
.container {
    min-width: 360px;
    padding: 0px 40px;
    width: 100%;
}

.container > article {
    margin-top: 16px;
}

[class*='__text'] {
    font-family: var(--secondary-font, sans-serif);
}

/* Main Header */
.main-header {
    border-bottom: 0.05px solid #000;
    padding: 64px 0px 32px;
    text-align: center;
}

.main-header__title {
    text-align: center;
    text-transform: uppercase;
}

.main-header__title--primary {
    font-size: 2em;
    font-weight: bold;
}

.main-header__title--secondary {
    padding-top: 8px;
    font-size: 1.5em;
    font-weight: lighter;
}


.main-header__contact {
    padding-top: 32px;
}

.main-header__contact address {
    font-weight: bold;
    font-style: normal;
    padding-bottom: 4px;
}

[class^="main-header__contact-"] span,
[class*=" main-header__contact-"] span {
    font-weight: bold;
}

/* Profile */
.profile {

}


.section-header {
    display: block;
    height: 100%;
    padding-top: 32px;
    position: relative;
    width: 100%;
}

.section-header::after {
    content: '';
    background-color: black; /* TODO: var color primario*/
    bottom: -2px;
    height: 1px;
    left: 0;
    position: absolute;
    width: 1.5em;
}

.section-header__title {
    color: #000;
    text-transform: uppercase;
}

.section-body {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    position: relative;
    width: 100%;
}

.section-body__p {
    font-family: 'Raleway';
    text-align: left;
    padding-top: 1em;
}

.section-body__p:first-child {
    padding-top: 0;
}

.profile .section-body__p {
    color: #686868;
}


/* Experience */

.exp-item,
.frmt-item {
    padding-top: 32px;
    padding-left: 16px;
    position: relative;
    border-left: thin solid #000;
}

.exp-item:first-child,
.frmt-item:first-child {
    padding-top: 0;
}

.exp-item__company,
.frmt-item__institution {
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
}

.exp-item__company::before,
.frmt-item__institution::before {
    background-color: white;
    color: #404040;
    content:'\25CF';
    font-weight: lighter;
    left: -21px;
    top: -2px;
    position: absolute;
}

.exp-item__date,
.frmt-item__date     {
    color: #5C5C60;
    font-size: .9em;
    font-weight: 300;
    padding: 4px 0px 16px;
}

.exp-item__title,
.frmt-item__career {
    font-weight: 700;
}

.exp-item__detail,
.frmt-item__detail {
    padding-top: 8px;
}

.exp-item__detail .list-dash {
    margin-left: 1em;
}

/* Formation */


/* Extension */
.ext .section-body {
    display: flex;
    flex-direction: column;
}
.ext-item {
    padding-left: 16px;
    padding-top: 32px;
}

.ext-item:first-child {
    padding-top: 0;
}

.ext-item__title::before,
.lang-item__title::before {
    content:"\25CF";
    left: -21px;
    position: absolute;
    top: -1px;
}

.ext-item__title,
.lang-item__title {
    font-weight: bold;
    position: relative;
}

.ext-item__institution {
    font-family: var(--secondary-font);
    font-weight: 400;
    color: #5C5D60;
}

.ext-item__cert:hover {
    text-decoration: underline;
}

/* Languages */

.lang-item {
    padding-left: 16px;
}

/* Professional Skills */
/* Personal Skills */
/* References */


@media (min-width: 640px) {}

@media (min-width: 1024px) {}